.sidebar {
  .sidebar-nav, ul.nav {
    width: $sidebar-width - 16px;
  }
}

.avatar {
	.img-avatar {
		height: 48px;
		width: 48px;
	}
}

.custom-container {
  height: auto;
  background: linear-gradient(to bottom,  #1da1f2,  #87e9fa);
}

.custom-card-title {
  color: white;
}

.custom-icon {
  color: #2072d8
}

.custom-text-container {
 padding: 4%;
}

.gender-result {
  margin-top: 3%;
  padding: 0;
}

.button-floating-custom2 {
  width: 0;
  font-size: 30px;
}

.custom-text {
  border: 0;
  border-bottom: 1px solid;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 50%;
  font-family: unset;
  outline: none;
}
.button-floating-custom {
  font-size: 40px;
  padding: 0;
  background: transparent;
  pointer-events: none;
  border: none;
}

.custom-description {
  font-family: arial;
  color: lightslategray;
}

.btn-primary-custom {
  padding: 0;
  border-radius: 15px;
  cursor: pointer;
  width: 80%;
  height: 30px;
}

.custom-dropzone {
  padding: 3%;
  margin: 2%;
  text-align: center;
  height: auto;
  width: auto;
  position: relative;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button-evaluate{
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-out;
  cursor: pointer;
  width: 100px;
  height: 30px;
  margin-left: 5%;
  background: #21a8d9;
  border-color: lightgray;
  color: whitesmoke;
  //box-shadow: 0 2px #999;
  outline: none;
}

.custom-json {
  font-size: 18px;
  font-display: Comic Sans MS;
}

//.custom-button-evaluate:hover {background-color: rgb(128, 128, 128);}

.custom-button-evaluate:active {
  background-color: #a4c3f2;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.card-deck {
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 5%;
  width: 40%;
  height: fit-content;
}

.custom-card {
  margin-top: 20%;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 20%;
  width: 40%;
  border: none;
  background-color: transparent;
}

.smaller {
	font-size: 40%;
	font-weight: normal;
}

.activites-count {
	font-size: 150%;
	font-weight: bold;
	color: $gray-dark
}
.navbar-brand-custom {
  border-bottom : 0 !important;
  padding:0 !important;
  background-color: white !important;
}


